.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main_background_color);
}
.container {
    width: var(--container);
    max-width: var(--max_width);
    min-height:400px;
    height: calc(100vh - 90px);
    max-height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container h1 {
    width: 100%;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: var(--title_size);
    line-height: 111%;
    color: #ffffe5;
    word-wrap: break-word;
}
.container p {
    margin-top: 50px;
    float: left;
    width: 100%;
    max-width: 550px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: var(--subtitle_size);
    color: #f1f1dd;
}
@media (max-width: 1518px) {
    .container p {
        width: 100%;
        max-width: 600px;
    }
}
@media (max-width: 900px) {
    .container {
        height: calc(100vh - 65px);
    }
}
