.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main_background_color);
}
.container {
    width: var(--container);
    max-width: var(--max_width);
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container h1 {
    width: 100%;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 130px;
    line-height: 111%;
    color: #ffffe5;
    word-wrap: break-word;
}
.container p {
    margin-top: 50px;
    float: left;
    width: 500px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 22px;
    color: #f1f1dd;
}
