.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header_background_color);
}
.container {
    width: var(--container);
    max-width: var(--max_width);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    width: 70%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.navbar a {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
    cursor: pointer;
}
.burger {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
